.navbar{
    background-color: #000206;
}

html, body{

}

.section1{
    width: 100%;
    position: absolute;
    background: url("../images/home_bg1.jpg") no-repeat center center;
}

.overlay-texts{
    z-index: 1000;
}

.mission-image div{
    background-image: url("../images/our_mission.jpg");
    background-position-y: center;
    background-repeat: no-repeat;
    height: 100%;
}

.dim-overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
}

.estimate-form .form-control, .estimate-form .input-group-text {
    border:none;
    border-bottom: 1px solid black;
    border-radius: 0;
    font-size: 15px;
}

.estimate-form .input-group-text{
    font-size: 2rem;
}

.input-icon{
    color: black;
    background-color: transparent;
}

.no-bullet-list{
    list-style: none;
}

.no-bullet-list li{
    line-height: 2rem;
}

.no-bullet-list .fa-check-circle{
    font-size: 1.35rem;
}

.owl-nav{
    display: none;
}

.location-list{
    list-style: none;
}

.location-list li::before {
    font-size: 2rem;
    content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: rgba(var(--bs-warning-rgb),var(--bs-bg-opacity))!important;
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em;
}

footer .nav .nav-item .nav-link{
    color: white !important;
}

.image-blurred-edge {
    background-image: url('../images/drill_gun.jpg');
    background-position-x: 75%;
    background-repeat: no-repeat;
}

@media (max-width: 575.98px) and (min-height: 1080px) and (orientation: portrait) {
    .quote-button {
        width: 100%;
    }
    .section1{
        height: auto;
    }
    .fs-4{
        font-size: 1.4rem !important;
    }
    .display-2{
        font-size: 2.5rem;
    }
    .h3{
        font-size: 2rem;
    }
    .mission-image{
        height: 16vh;
    }
    .learn-more{
        width: 100%;
    }
    .our-services{
        background-image: url("../images/our_services.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 30vh;
        background-size: contain;
    }
    .footer-logo{
        margin-right:auto;
        margin-left:auto;
    }
    footer ul, .footer-title{
        text-align: center;
    }
    .navbar-brand img{
        width: 50%;
    }
}

@media (min-width: 767.98px) and (min-height: 1079.98px) and (orientation: portrait) {
    .quote-button {
        width: 100%;
    }
    .mission-image{
        height: 20vh;
    }
    .mrs-mission div .fs-4{
        font-size:1.2rem !important;
    }
    .learn-more{
        width: 40%;
    }
    .our-services{
        background-image: url("../images/our_services.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        background-size: cover;
    }
    footer ul, .footer-title{
        text-align: left;
    }
    .navbar-brand img{
        width: 50%;
    }
}

@media only screen and (max-width: 1366px) and (max-height: 768px) and (orientation: landscape) {
    .navbar .container{
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }
    .toggler{
        display: none;
    }
    .navbar-row{
        width: 50% !important;
    }
    .navbar-brand img{
        width: 50%;
    }
    .navbar .nav-link{
        font-size: 0.8rem !important;
    }
    .quote-button{
      padding-top: 0.5rem !important;
      padding-bottom: 0.5rem !important;
    }
    .mission-image{
        display: none;
    }

    .mission-image2 div{
        width: 75%;
        height: 100%;
        background-image: url("../images/our_mission.jpg");
        background-position-y: center;
        background-repeat: no-repeat;
    }
    .mission-image2 .img2{
        width: 50%;
        height: 100%;
        bottom: 50%;
        background-image: url("../images/our_mission2.jpg");
        background-position-y: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .mission-image2{
        height: 40vh;

        display: inline-block;
    }
    .our-services{
        background-image: url("../images/our_services.jpg");
        background-repeat: no-repeat;
        background-position: center;
        height: 110%;
        background-size: cover;
    }
    .our-services-card{
        left:-5%;
        top:5%;
        position: relative;
    }
    .locations{
        z-index: 1000;
        /*top:10%;*/
        position: relative;
    }
    .map{
        top:-35%;
        position: relative;
    }
    .image-blurred-edge {
        top:-35%;
        position: relative;
    }
    .news-letter{
        z-index: 1000;
        top:-40%;
        position: relative;
    }
    .footer{
        padding-top: 10rem !important;
        top:-60%;
        position: relative;
    }
    .footer-title{
        font-size: 16px !important;
    }
    .footer-column{
        margin-top: 10%;
    }
}

@media (min-width: 767.98px) and (max-height: 860px) and (orientation: portrait) {
    .navbar-brand img{
        width: 35%;
    }
    .mission-image{
        height: 30vh;
    }
    .mrs-quote{
        padding-bottom: 0 !important;
        margin-bottom: 0 !important;
    }
    .mrs-mission{
        padding-top: 0 !important;
        margin-top: 0 !important;
    }
    .mrs-mission div .fs-4{
        font-size:1rem !important;
    }
    .our-services{

        background-image: url("../images/our_services.jpg");
        background-repeat: no-repeat;
        background-position: 30%;
        height: 110%;
        background-size: cover;
    }

    .our-services-card{
        margin-top: 10%;
        left:-5%;
        top:5%;
        position: relative;
    }
    .our-services-text{
        font-size: 1rem !important;
    }
    .our-services-title{
        font-size: 2.2rem !important;
    }
    .learn-more{
        width: 50%;
    }
    .news-letter{
        z-index: 1000;
        position: relative;
    }
    .news-letter-title{
        font-size: 2rem;
    }
    .footer{
        padding-top: 5rem !important;
        top:-15%;
        position: relative;
    }
    .footer-services{
        margin-top: 15%;
    }
}

@media only screen and (max-width: 1366px) and (min-height: 768px) and (orientation: landscape) {
    .navbar-brand img{
        width: 100%;
    }
    .toggler{
        display: none;
    }
    .navbar-row{
        width: 25% !important;
    }
    .mission-image2 div{
        width: 75%;
        height: 100%;
        background-image: url("../images/our_mission.jpg");
        background-position-y: center;
        background-repeat: no-repeat;
    }
    .mission-image2 .img2{
        width: 50%;
        height: 90%;
        bottom: 60%;
        background-image: url("../images/our_mission2.jpg");
        background-position-y: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .mission-image2{
        height: 40vh;
        display: inline-block;
    }
    .mrs-mission{
        padding-top: 0 !important;
        margin-top: 0 !important;
        margin-bottom: 5%;
    }
    .mrs-mission div .fs-4{
        font-size:1rem !important;
    }
    .our-services{
        /*margin-top: 20%;*/
        background-image: url("../images/our_services.jpg");
        background-repeat: no-repeat;
        background-position: 30%;
        height: 110%;
        background-size: cover;
    }

    .our-services-card{
        margin-top: 25%;
        left:-5%;
        top:25%;
        position: relative;
    }
    .our-services-text{
        font-size: 1rem !important;
    }
    .our-services-title{
        font-size: 2.2rem !important;
    }
    .learn-more{
        width: 50%;
    }
    .locations{
        z-index: 1000;
        /*top:10%;*/
        position: relative;
    }
    .map{
        top:-30%;
        position: relative;
    }
    .image-blurred-edge {
        top:-35%;
        position: relative;
    }
    .news-letter{
        z-index: 1000;
        top:-40%;
        position: relative;
    }
    .footer{
        padding-top: 10rem !important;
        top:-60%;
        position: relative;
    }
    .footer-title{
        font-size: 16px !important;
    }
    .footer-column{
        margin-top: 10%;
    }
}

@media only screen and (min-width: 1400px) {
    .section1{
        height: 80% !important;
    }
    .navbar-brand img{
        width: 75%;
    }
    .toggler{
        display: none;
    }
    .navbar-row{
        width: 35% !important;
    }
    .mission-image2 div{
        width: 75%;
        height: 100%;
        background-image: url("../images/our_mission.jpg");
        background-position-y: center;
        background-repeat: no-repeat;
    }
    .mission-image2 .img2{
        width: 50%;
        height: 90%;
        bottom: 60%;
        background-image: url("../images/our_mission2.jpg");
        background-position-y: center;
        background-repeat: no-repeat;
        position: relative;
    }
    .mission-image2{
        height: 40vh;
        display: inline-block;
    }
    .mrs-mission{
        padding-left: 8rem!important;
        padding-right: 8rem!important;
        top: -10%;
        margin-bottom: 5%;
        position: relative;
    }
    .mrs-mission-title{
        font-size: 3rem !important;
    }
    .mrs-mission-text{
        padding-right: 20%;
    }
    .mrs-mission div .fs-4{
        font-size:1rem !important;
    }
    .our-services{
        /*margin-top: 20%;*/
        background-image: url("../images/our_services.jpg");
        background-repeat: no-repeat;
        background-position: 30%;
        height: 110%;
        background-size: cover;
    }

    .our-services-card{
        margin-top: 25%;
        left:-25%;
        top:25%;
        position: relative;
    }
    .our-services-text{
        margin-bottom: 5%;
        font-size: 1rem !important;
    }
    .our-services-title{
        font-size: 2.2rem !important;
    }
    .no-bullet-list{
        margin-bottom: 5%;
    }
    .learn-more{
        width: 50%;
    }
    .ratings{
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .companies{
        padding-left: 10% !important;
        padding-right: 10% !important;
    }
    .locations{
        z-index: 1000;
        top:10%;
        position: relative;
    }
    .map{
        top:-30%;
        padding-left: 3% !important;
        padding-right: 3% !important;
        position: relative;
    }
    .image-blurred-edge {
        top:-35%;
        padding-top: 5% !important;
        padding-left: 15% !important;
        padding-right: 15% !important;
        position: relative;
    }
    .image-blurred-edge-text{
        margin-bottom: 3rem !important;
        font-size: 2.5rem !important;
    }
    .news-letter{
        padding-left: 14% !important;
        padding-right: 14% !important;
        z-index: 1000;
        top:-40%;
        position: relative;
    }
    .footer{
        padding-left: 14% !important;
        padding-right: 14% !important;
        padding-top: 10rem !important;
        top:-60%;
        position: relative;
    }
    .footer-title{
        font-size: 16px !important;
    }
    .footer-column{
        margin-top: 10%;
    }
}
