html, body{
    font-family: 'Poppins', sans-serif;
    height: 100%;
}


@media (max-width: 575.98px) and (min-height: 1080px) and (orientation: portrait) {
    html, body{
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        background-size: auto 100%;
    }
    .stretched-text
    {
        font-size: 3vw;
        display: flex;
        justify-content: space-between;
    }

    .coming-soon{
        font-size: 20vw;
    }

    .sentence{
        font-size: 5vw;
    }

    .stretched-text-logo{
        font-size: 6.6vw;
    }

    .sofia{
        letter-spacing: 1rem;
    }
}

@media (min-width: 767.98px) and (min-height: 1079.98px) and (orientation: portrait) {
        .coming-soon{
            font-size: 18vw;
        }

        .sentence{
            font-size: 3.5vw;
        }

        .logo-text{
            font-size: 4vw;
        }
        .stretched-text
        {
            display: flex;
            justify-content: space-between;
            font-size: 2.8vw;
        }

        .stretched-text-logo
        {
            font-weight: normal;
            font-size: 4vw;
            display: flex;
            justify-content: space-between;
        }
        .sofia{
            letter-spacing: 1.2rem;
            font-size: 2.2vw;
        }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1366px) and (max-height: 768px) and (orientation: landscape){
    .coming-soon{
        font-size: 6vw;
    }
    .stretched-text-logo
    {
        font-weight: normal;
        font-size: 1.6vw;
        display: flex;
        justify-content: space-between;
    }
    .stretched-text
    {
        display: flex;
        justify-content: space-between;
        font-size: 0.8vw;
    }
    .sofia{
        letter-spacing: 0.8rem;
        font-size: 1vw;
    }
}

@media only screen and (max-width: 1366px) and (min-height: 768px) and (orientation: landscape){
    .coming-soon{
        font-size: 8vw;
    }

    .sentence{
        font-size: 1.8vw;
    }

    .stretched-text
    {
        display: flex;
        justify-content: space-between;
        font-size: 0.8vw;
    }

    .stretched-text-logo
    {
        font-weight: normal;
        font-size: 1.6vw;
        display: flex;
        justify-content: space-between;
    }
    .sofia{
        letter-spacing: 1rem;
        font-size: 1.2vw;
    }
}

@media (min-width: 767.98px) and (max-height: 860px) and (orientation: portrait){
    html, body{
        -webkit-background-size: auto 100%;
        -moz-background-size: auto 100%;
        -o-background-size: auto 100%;
        background-size: auto 100%;
    }

    .stretched-text
    {
        font-size: 2.6vw;
        display: flex;
        justify-content: space-between;
    }

    .coming-soon{
        font-size: 9.5vw;
    }

    .sentence{
        font-size: 3.5vw;
    }

    .stretched-text-logo{
        font-size: 4vw;
    }

    .sofia{
        letter-spacing: 1rem;
    }
}

@media only screen and (min-width: 1400px) {
    .coming-soon{
        font-size: 7vw;
    }

    .sentence{
        font-size: 1.5vw;
    }

    .logo-text{
        font-size: 2vw;
    }

    .stretched-text
    {
        display: flex;
        justify-content: space-between;
        font-size: 1.2vw;
    }

    .stretched-text-logo
    {
        font-weight: normal;
        font-size: 1.8vw;
        display: flex;
        justify-content: space-between;
    }
    .sofia{
        letter-spacing: 1.8rem;
        font-size: 1.2vw;
    }
}

.navbar{
    margin-bottom: 20px;
}

.nav-link{
    color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
}


.navbar-dark{
    --bs-navbar-color:rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.75);
    --bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
    --bs-navbar-active-color: #fff;
    --bs-navbar-brand-color: #fff;
    --bs-navbar-brand-hover-color: #fff;
    --bs-navbar-toggler-border-color: rgba(var(--bs-warning-rgb),var(--bs-text-opacity))!important;
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,193,7, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler[aria-expanded=true] .navbar-toggler-close, .navbar-toggler[aria-expanded=false] .navbar-toggler-icon{
    display: inline-block;
}
.navbar-toggler[aria-expanded=false] .navbar-toggler-close, .navbar-toggler[aria-expanded=true] .navbar-toggler-icon{
    display: none;
}

